<div class="about-content">
    <div class="title font-weight-bold">From <span class="primary-color">facts to figures</span>, we now
        have the world in the palm
        of our hands.
        </div>
        <div class="description">
            With promising technological advancements, transformations, and easy accessibility to the internet, businesses everywhere are growing more responsive, more agile, and more mobile
        </div>
</div>
<div class="container-fluid">
    <img src="../../../assets/AffiliateMarketing_img1-1024x398.jpg" class="w-100 mb-4" alt="">
</div>

