


.logo{
  width: 100%;
  position: fixed;
  left:19%;
  top: 2%;
}

.left-col {
  font-size: 16px;
  font-weight: bold;
  color: var(--header-primary);
    position: fixed;
    z-index: 99;
    left: 60px;
    top: 50%;
    letter-spacing: 2px;
    transform: translate(-50%, -50%) rotate(
-90deg
);}
.right-col{

  // display: flex;
    position: fixed;
    z-index: 99;
    // right: -352px;
    right: -23%;
    color: var(--header-primary);
    top: 50%;
    
    transform: translate(-50%, -50%) rotate(
90deg
);
li{
  list-style: none;

  margin: 0 1rem 0 1rem;
  a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: var(--header-primary);
    letter-spacing: 2px;
  }
}

}
.down{
  position: relative;
}
.website-name{
  position: absolute;
  bottom: 100px;
  
}
.row{
  // display: flex;
  // justify-content: space-between;
  position: fixed;
  z-index: 99;
  right: 160px;
  bottom: -20px;
  width: 80%;
  
  // max-width: 1400px;
  font-size: 2rem;


a{
  text-decoration: none;
  font-weight: bold;
  color:var(--header-primary);
  font-size: 19px;
}


}
.bottom-col
{
  // display: flex;
  li{
    list-style: none;
    margin-right: 2rem;
    font-weight: bold;
    // margin: 138px 0px;
    margin: 8% 0%;
}

}
// .bottom-col  {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

// }
.color-white a, .color-white li a, .color-white .left-col {
  color:var(--chess-secondary);
}
.position-relative{
  position: relative;

}
.logo-absolute{

  position: absolute;
  left: 19%;
  top: 2%;
  width: auto;
}
.rightcol-Absolute{

  position: absolute;
  z-index: 99;
  right: -450px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(
90deg
);
}
.leftcol-Absolute{

  font-size: 2rem;
  font-weight: bold;
  color: var(--header-primary);
    position: absolute;
    z-index: 99;
    left: 40px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(
-90deg
);
}
.row-Absolute{
  position: absolute;
  z-index: 99;
  right: 160px;
  bottom: 40px;
  width: 100%;
  max-width: 1400px;
  font-size: 2.3rem;
}
.display-none{
  display: none;
}
.height-full{
height: 100vh;

}
label{
  display:flex;
   flex-direction:column;
   width:70px;
   cursor:pointer;
 }
 

 label span{
   background: #000;
   border-radius:10px;
   height:6px;
   margin: 6px 0;
   transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

 }


 span:nth-of-type(1){
   width:50%;

 }

 span:nth-of-type(2){
   width:100%;
 }


 span:nth-of-type(3){
   width:75%;

 }


 input[type="checkbox"]{
   display:none;
 }


 input[type="checkbox"]:checked ~ span:nth-of-type(1){
   transform-origin:bottom;
   transform:rotatez(45deg) translate(8px,0px)
 }


 input[type="checkbox"]:checked ~ span:nth-of-type(2){

   transform-origin:top;
   transform:rotatez(-45deg)
 }


 input[type="checkbox"]:checked ~ span:nth-of-type(3){

   transform-origin:bottom;
   width:50%;
   transform: translate(30px,-8px) rotatez(45deg);

 }
.box{
  margin: 10px 0 0 30px;
  position: fixed;
  z-index: 1099;
  
}
label .hamburger-color{
  background: black;
}
.container{
  // padding-top: 100px;
  padding-top: 10%;
  
}
.main-container{
  width: 100%;
  height: 100vh;
  background-color: black;

}
.hamburger-link{

  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  flex-wrap: wrap;
}
.container .hamburger-link a{
  display: block;
  font-size: 40px;
  color: var(--primary);
  text-decoration: none;
  margin-bottom: 30px;
}
.show-hamburger{
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  animation: scroller 0.4s ease-in-out;
  z-index: 50000;
  opacity: 1;
  
}
@keyframes scroller{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}



@media screen and (max-width: 1560px)
{
.row{
  right: 0px;
}
}
@media screen and (max-width: 1200px)
{
  .col{
    display: none;
  }


}
@media screen and (max-width:500px) {
  img{
    width: 40% !important;
  }
  label span{
    background: black;
    border-radius:10px;
    height:4px;
    margin: 4px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);

  }

  span:nth-of-type(1){
    width:25%;

  }

  span:nth-of-type(2){
    width:57%;
  }


  span:nth-of-type(3){
    width:25%;

  }


  input[type="checkbox"]{
    display:none;
  }


  input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(5px,0px)
  }


  input[type="checkbox"]:checked ~ span:nth-of-type(2){

    transform-origin:top;
    transform:rotatez(-45deg)
  }


  input[type="checkbox"]:checked ~ span:nth-of-type(3){

    transform-origin:bottom;
    width:50%;
    transform: translate(5px,-10px) rotatez(45deg);

  }
  .box{
    margin: 6px 0 0 5px;
    position: fixed;
    z-index: 1011;
  }

}
@media screen and (max-width:1440px){
  .right-col{

    // display: flex;
      position: fixed;
      z-index: 99;
      // right: -352px;
      right: -33%;
      color: var(--header-primary);
      top: 50%;}
    
      
}
@media screen and (max-width:1300px){
  .right-col{

    // display: flex;
      position: fixed;
      z-index: 99;
      // right: -352px;
      right: -25%;
      color: var(--header-primary);
      top: 50%;}
      
}
@media screen and (max-width:1560px){
  .row > *{
    width: 80%;

  }
}
@media screen and (max-width:1440px){
  .right-col{
      top: 40%;
      
  }
  .right-col{

    top: 35%;
      
}
}