<div class="logo"><img src="../../../assets/logo.png" alt=""></div>
<div class="col">

  <div class="left-col">{{data.leftcol}}</div>
  <ul class="right-col d-flex">
    <li> <a href="">{{data.fb}}</a> </li>
    <li> <a href="">{{data.insta}}</a></li>
    <li> <a href="">{{data.twiter}}</a></li>
    <li> <a href="">{{data.linkdin}}</a></li>
    <li><a href="">{{data.ytube}}</a></li>
   </ul>
   <div class="row d-flex justify-content-between">
     <ul class="bottom-col d-flex justify-content-between align-items-center">
       <li>{{data.login}}</li>
       <li>{{data.adversign}}</li>
       <li>{{data.affsign}}</li>
     </ul>
     <div><strong>{{data.m}}</strong>
       <a href="">{{data.hello}}</a></div>
     </div>
   </div>

