<div class="header" [ngClass]="{'position-relative':isPositionRelative}">
  <div class="btn-box position-fixed">

    <button class="btn btn-primary " [routerLink]="['/about']">about</button>
    <button class="btn btn-primary " [routerLink]="['/ourvision']">our vision</button>
    <button class="btn btn-primary " [routerLink]="['/affilatemarketing']">affilateMarketing</button>
    <button class="btn btn-primary " [routerLink]="['/publisher']">publisher</button>
    <button class="btn btn-primary " [routerLink]="['/advertiser']">advertiser</button>
    <button class="btn btn-primary " [routerLink]="['/testimonials']">testimonials</button>
    <button class="btn btn-primary " [routerLink]="['/lifeAtVc']">life at vCommision</button>
    <button class="btn btn-primary " [routerLink]="['/offers-page']">offers-page</button>
    <button class="btn btn-primary " [routerLink]="['/faq-page']">faq-page</button>
    <button class="btn btn-primary" [routerLink]="['/partners']">partners</button>
    <button class="btn btn-primary" [routerLink]="['/payment']">payment</button>

    

  </div>
<!-- <button (click)='clickfunction()'></button>

  <div class="box" >
    <label for="check" class="hamburger"
     > 
      <input type="checkbox" id="check"/>
      <span [ngClass]="{'hamburger-color': isHamburgerColorWhite}"></span>
      <span [ngClass]="{'hamburger-color': isHamburgerColorWhite}"></span>
      <span [ngClass]="{'hamburger-color': isHamburgerColorWhite}"></span>
    </label>
  </div>
 
  <div class="main-container">

    <div class="container" [ngClass]="{'show-hamburger': isShowContent}">
      <div class="hamburger-link row">
        <a href="" class="col-md-6">home</a>
        <a href="" class="col-md-6">offers</a>
        <a href="" class="col-md-6"> about</a>
        <a href="" class="col-md-6">patners</a>
        <a href="" class="col-md-6">our vision</a>
        <a href="" class="col-md-6">payments</a>
        <a href="" class="col-md-6">services</a>
        <a href="" class="col-md-6">FAX</a>
        <a href="" class="col-md-6">publisher</a>
        <a href="" class="col-md-6">career</a>
        <a href="" class="col-md-6">advertisers</a>
        <a href=""class="col-md-6">contect us</a>
        <a href="" class="col-md-6">testimonials</a>
        <a href="" class="col-md-6">login</a>
        <a href="" class="col-md-12">Life At vc</a>
        
      </div>
    </div>
  </div> -->

<ng-content></ng-content>
  <div class="logo" [ngClass]="{'logo-absolute':isPositionAbsolute}">
    <a href="" [routerLink]="['/']"><img *ngIf='!isColorChanged' [src]="data.img1" alt=""></a>
    <a href="" [routerLink]="['/']"><img *ngIf='isColorChanged' [src]="data.img2" alt="" ></a>
  </div>
  <div class="col" [ngClass]="{'color-white':isColorChanged, 'display-none': isDisplayNone, 'height-full':
   isHeightFullVH}">
   <!-- <button (click)='clickfunction()'>abhah</button> -->

   <!-- <div class="box" >
     <label for="check" class="hamburger"
      > 
       <input type="checkbox" id="check"/>
       <span [ngClass]="{'hamburger-color': isHamburgerColorWhite}"></span>
       <span [ngClass]="{'hamburger-color': isHamburgerColorWhite}"></span>
       <span [ngClass]="{'hamburger-color': isHamburgerColorWhite}"></span>
     </label>
   </div>
  
   <div class="main-container">
 
     <div class="container" [ngClass]="{'show-hamburger': isShowContent}">
       <div class="hamburger-link row">
         <a href="" class="col-md-6">home</a>
         <a href="" class="col-md-6">offers</a>
         <a href="" class="col-md-6"> about</a>
         <a href="" class="col-md-6">patners</a>
         <a href="" class="col-md-6">our vision</a>
         <a href="" class="col-md-6">payments</a>
         <a href="" class="col-md-6">services</a>
         <a href="" class="col-md-6">FAX</a>
         <a href="" class="col-md-6">publisher</a>
         <a href="" class="col-md-6">career</a>
         <a href="" class="col-md-6">advertisers</a>
         <a href=""class="col-md-6">contect us</a>
         <a href="" class="col-md-6">testimonials</a>
         <a href="" class="col-md-6">login</a>
         <a href="" class="col-md-12">Life At vc</a>
         
       </div>
     </div>
   </div> -->
    <div class="left-col" [ngClass]="{'leftcol-Absolute':isPositionAbsolute}">{{data.leftcol}}</div>
    <ul class="right-col d-flex" [ngClass]="{'rightcol-Absolute':isPositionAbsolute}">
      <li><a href="">{{data.fb}}</a></li>
      <li><a href="">{{data.insta}}</a></li>
      <li><a href="">{{data.twiter}}</a></li>
      <li><a href="">{{data.linkdin}}</a></li>
      <li><a href="">{{data.ytube}}</a></li>
    </ul>
    <div class="row d-flex justify-content-between" [ngClass]="{'row-Absolute':isPositionAbsolute}">
      <ul class="bottom-col d-flex justify-content-between align-items-center">
        <li><a href="">{{data.login}}</a></li>
        <li><a href="">{{data.adversign}}</a></li>
        <li><a href="">{{data.affsign}}</a></li>
      </ul>
      <div class="down">
        <div class="website-name">
          <strong class="black">{{data.m}}</strong>
          <a href="">{{data.hello}}</a>
        </div>
        </div>
      </div>
    </div>
  </div>
