<div class="containerr">
  <div class="info row">

    <div class="about">
      <div class="pre-title">OUR KEY VERTICALS
      </div>
      <div class="title">
        We Generate <span> Millions </span> <br>
        In These Verticals
      </div>
      <div class="description">We are always working towards offering <br>
        meaningful marketing through:</div>
        <ul class="grey">
          <li > E-Commerce</li>
          <li > Travel</li>
          </ul>
          <ul class="black">
          <li > Finance & Insurance </li>
          <li >iGaming</li>
        </ul>
      </div>
      <div class="img"><img src="../../../assets/chess.png" alt=""></div>
    </div>
</div>

