

.containerr
{
  background-image: url("../../assets/bg3.jpg");
  height: 1000px;
  background-position: center;
  width: 100%;
  background-size: cover;

.info{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  margin: 0 auto;
  padding-top: 300px;
}
.grey li{
  color: var(--light-green);
  // color: #9cc430;
  display: flex;
}
}
.pre-title{
  // color: var(--light-green);
  color: #9cc430;

  font-size: 2rem;
}
.title{
  font-size:7rem;
  font-weight: bold;
  line-height: 1.1;
  color: var(--white);
  span{
    // color:var(--light-green);
  color: #9cc430;

  }
}
.description{
  // color: var(--white);
  color: #ffffff;
  font-size: 2rem;
  padding: 2.5rem 0;
}
ul{
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  li{
    list-style: none;
    font-size: 1.9rem;

  }

}
.grey{
  padding: 1rem 0 2rem 0;
}
.black{
  // color: var(--white);
  color:#ffffff;
}
.img
{
  width: 40%;
  animation: mover 1s infinite alternate;
}
@keyframes mover{
0% {
  transform: translateY(0);
}
100% {
  transform: translateY(-15px);
}
}
@media screen and (max-width:1000px) {
.img{
  width: 40%;

}
img{
  width: 100%;
}
.info{
  padding-bottom: 50px;
}

.containerr{
  width: 100%;
  height: auto;
  .info{
    padding-top: 200px;
    // flex-direction: column;
  } .title{
    font-size: 5rem;
  }
}

}
@media screen and (max-width:500px){
.containerr .info{
 width: 90%;
 margin: 0 auto;
 padding-top: 100px;
}
.pre-title{
  font-size: 1.3rem;
}
.img{
  width: 45%;
  margin-top: 8rem;
}
img{
  width: 100%;
}
 .info .title{
  font-size: 2rem;
  padding-top: 1rem;
}
.info .description{
  font-size: 1.6rem;
}
ul li{
  display: none;
}
}
