<div class="containerr">
  <div class="info ">

    <div class="about">
      <div class="pre-title">{{data.pretitle}}
      </div>
      <div class="title">
        {{data.title1}}<span>{{data.title2}}</span> <br>
        {{data.title3}}
      </div>
      <div class="description">{{data.description1}}<br>
        {{data.description2}}</div>
        <ul class="grey">
          <li >{{data.link1}}</li>
          <li >{{data.link2}}</li>
          </ul>
          <ul class="black">
          <li >{{data.link3}}</li>
          <li >{{data.link4}}</li>
        </ul>
      </div>
      <div class="img"><img [src]=data.img alt=""></div>
    </div>
</div>

