<div class="container d-flex justify-content-between">
    <div class="img w-40">
        <img src="../../../assets/headphone-bg-paper.png" class="w-100" alt="">
        
    </div>
    <div class="content ">
        <div class="title"> <span>Affiliate marketing involves</span> three main parties:
        </div>

            <div class="d-flexx">
                <div class="box d-flex">

                    <div class="number">01</div>
                    <div class="description"><span class="black">Service provider: </span>The service provider is the one who manufactures a product or provides a service.</div>
                </div>
                <div class="box d-flex">
                    <div class="number">02</div>
                    <div class="description"><span class="black">Affiliate: </span>The affiliate can be anyone, from an individual to a business. Their primary responsibility is to create content that generates interest for the service provider and customer.
                    </div>
                </div>
                <div class="box d-flex">
                    <div class="number">03</div>
                    <div class="description"><span class="black">Customer: </span>Customers are the people who purchase the product or service provided by the service provider through the affiliate’s website.
                    </div>
                </div>
            </div>
    </div>
    <div class="headphone-img">
        <img src="../../../assets/headphone-img (1).png" alt="" class="w-100">
    </div>
</div>
