
.main-container{
  background:#f7f7f7;
  padding: 80px 0 80px;
}
.container{
  padding: 50px 0;
}
.infoOne{
  width: 50%;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading{
  font-size: 70px;
  line-height: normal;
  color:var(--about-black);
  margin: 0 0 35px;
}
.title{
  color: var(--primary);
    font-size: 27px;
    margin: 0 0 10px;
    text-transform: uppercase
}
.description{
   font-size: 21px;
    color: #686868;
    line-height: 45px;
    padding-right: 100px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 45px;
}
@media screen and (max-width:1000px){
  .info{
    flex-direction: column;
  }
  .infoOne{
    width: 90%;
    margin: 0 auto;
  }
  // .infoOne{
  //   margin-bottom: 40px;
  // }
  .spaceBottom{
    margin: 20px 0;
  }
  .description{
    padding-right: 0;
    font-size: 18px;
    line-height: 30px;
  }
.heading{
  font-size: 40px;
  width: 90%;
  margin: 0 auto 15px;
}

}
.previous-next{
  margin: 150px 0 250px;
  }

  .previous-next a{
   font-size: 100px;
   text-decoration: none;
   font-weight: bold;
   color: var(--primary);
   display: block;
   text-align: center;
  }
@media screen and (max-width:768px){
    .previous-next a{
      font-size: 50px;
    }
    .previous-next{
      margin: 50px 0 60px;
    }
  }
