.headings {
  padding: 7% 0 6.4%;
  margin-left: 3.9%;
}
.headings h1 {
  font-size: 64px;
  color: var(--faq-aboutvcommission);
  font-weight: bold;
}
.headings h3 {
  color: #000;
  font-size: 24px;
}
.headings p {
  color: var(--faq-aboutvcommission);
  font-size: 20px;
  width: 84%;
  line-height: 1.42857143;
}
