.headings {
  margin-top: 8%;
  margin-bottom: 6%;
}
.headings h1 {
  font-size: 64px;
  color: var(--faq-aboutvcommission);
  font-weight: bold;
}
.headings h3 {
  color: #000;
  font-size: 24px;
}
.headings p {
  color: var(--faq-aboutvcommission);
  font-size: 20px;
  width: 84%;
}
