<div class="box">
    <div class="title">{{data.title}}
    </div>
    <div class="step-and-img d-flex justify-content-between w-100">
        <div class="steps ">
            <div class="stepAndDescription d-flex" *ngFor="let item of data.steps">
                <div class="step-number">{{item.stepNumber}}</div>
                <div class="description">{{item.stepDescription}}
                </div>
            </div>
        </div>
       <div class="img ">
           <img [src]="data.imgOne" alt="" class="w-100">
       </div>
    </div>
    <h1>
        {{data.heading}}

    </h1>
</div>
