<div class="box">
    <div class="title">Affiliate marketing follows a simple step-by-step process:
    </div>
    <div class="step-and-img d-flex justify-content-between w-100">
        <div class="steps ">
            <div class="stepAndDescription d-flex">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription d-flex">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription d-flex">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription d-flex">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription d-flex">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
        </div>
       <div class="img ">
           <img src="../../../assets/step_img.png" alt="" class="w-100">
       </div>
    </div>
    <h1>Along with creating earning opportunities for affiliates, affiliate marketing also creates a win-win situation for both brands and consumers.

    </h1>
</div>
