<div class="container">
    <div class="title">Affiliate marketing follows a simple step-by-step process:
    </div>
    <div class="step-and-img d-flex">
        <div class="steps">
            <div class="stepAndDescription d-flex">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
            <div class="stepAndDescription">
                <div class="step-number">step 01</div>
                <div class="description">An affiliate shows an ad for a product offered by a company on their website.
                </div>
            </div>
        </div>
       <div class="img">
           <img src="../../../assets/step_img.png" alt="">
       </div>
    </div>
</div>
