<div class="containerr">
  <div class="about-left">
    <div class="pre-title">TRUSTED BY 100K AFFILIATES
    </div>
    <h1 class="title">
      India's Leading <br>
      <span>Global</span>
      Affiliate Network
    </h1>
    <p class="description">Conceptualised in 2008, vCommission is truly the pioneer & leader in
      affiliate marketing industry in India & also the only
      home-grown network to go Global.
      </p>

  </div>
  <div class="right-img">
    <img src="../../../assets/hero-img.png" alt="">
  </div>
</div>
