.infoOne{
  width: 46%;

}
.infoOne img{
  width: 100%;
}
.infoTwo{
  width: 46%;
  padding-top: 5%;

}
.title{
  font-size: 66px;
color: var(--about-black);
line-height: 1.1;
font-weight: bold;
}
 span{
  color: var(--primary);
}
.description{
  font-size: 21px;
  color: var(--about-black);
  padding: 5% 0%;
  line-height: 36px;
  

}
.heading{
  font-size: 61px;
    color: var(--about-black);
    // margin: 25px 0 5px;
    margin: 3% 0 1%;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}
.about{
 font-size: 21px;
 color: var(--about-black);
 font-size: 21px;
 color: var(--about-black);
 line-height: 36px;

}
.space-bottom{
  // margin-bottom: 100px;
  margin-bottom: 6%;
}
@media screen and (max-width:1024px){
  .info{
    flex-direction: column;
  }
  .infoOne, .infoTwo{
    width: 90%;
    margin: 0 auto;
// margin-bottom: 40px;
  }
}
@media screen and (max-width:768px){
.infoOne, .infoTwo{
  width: 100%;
  
}
.description{
  padding: 0%;
}
.infoOne img{
width: 100%;
}
.title, .heading{
  font-size: 40px;
  line-height: normal;
  margin: 1% 0 2%;
}
}
@media screen and (max-width:425px){
  .title, .heading{
    font-size: 35px;
    line-height: normal;
    margin: 1% 0 2%;
  }
  .description .about{
    font-size: 20px;
  }
}
