<div class="container">

  <div class="info d-flex justify-content-between">

    <div class="infoOne">
      <img [src]= data.img alt="">
    </div>
    <div class="infoTwo">
      <div class="title">{{data.titleOne}}<span>{{data.titleTwo}}</span> {{data.titleThree}}
      </div>
      <div class="description">{{data.description}}
      </div>
    </div>

  </div>
</div>
<div class="container space-bottom">
  <div class="heading">{{data.headingOne}}<span>{{data.headingTwo}}</span> {{data.headingThree}}<span>{{data.headingFour}}</span>

  </div>
  <div class="about">{{data.about}}

  </div>
  <div class="heading">{{data.heading2}}
  </div>
  <div class="about">{{data.about2}}

  </div>
</div>

