<div class="journey">
    <div class="container">
        <div class="row">
            <div class="col-md-6 journey-img">
                <img [src]="data.journeyimg" alt="">
            </div>
            <div class="col-md-6" id="text">
                <h1>With<span>you,</span></h1>
                <h2>throughout the journey</h2>
                <p>From the buyer’s first step to the last, we ensure that the lead generation practices for your
                    business are well aligned with different objectives at different stages in the marketing funnel.</p>
            </div>
        </div>
    </div>
</div>