.container{
//  padding: 80px 0 110px;
padding: 5% 0%;
}

.heading{
  font-size: 71px;
color: var(--about-black);
font-weight: bold;
line-height: 1.1;
}
.description{
  font-size: 20px;
  margin: 2% 0 0;
  color: var(--about-black);
  display: inline-block;
  background:var(--about-bg-color);
}
@media screen and (max-width:1024px){
  .heading{
    font-size: 50px;
  }
  .description{
    font-size: 16px;
  }
}
@media screen and (max-width:768px){
  .heading{
    font-size: 36px;
  }
  .description{
    font-size: 20px;
    line-height: 1.4;
    background:none;
  }
  .container{
    width: 95%;
    padding: 4% 0 5%;
  }
}
@media screen and (max-width:425px){
  .heading{
    font-size:30px;

  }
}
@media screen and (max-width:320px){
  .heading{
    font-size:25px;

  }
  .description{
    font-size: 16px;
    line-height: 1.4;
    background:none;
  }
}
