:root {
  // --light-green:#98ac2a;
  // --white: #ffffff;
  // --light-green:#a5ce36;
  --header-primary: #000000;
  // --header-primary:grey;
  --primary: #9cc430;

  // --primary:blue;

  --secondary: #212529;
  --tersary: #656565;
  --chess-primary: #a5ce36;
  // --chess-primary:green;
  --chess-secondary: #ffffff;
  --performance-primary: #eeeeee;
  --performance-secondary: #212529;
  --performance-tersary: #101010;
  --contact-primary: #98ac2a;
  // --contact-primary:purple;
  --about-hero: #ff2526;
  --about-black: #535353;
  --about-bg-color: #c8c8c8;
  --button-color: #5b5b5b;
  --bg-affilateMarketing: #e6e6e6;
  // faq-page-colors
  --faq-aboutvcommission: #535353;
  --faq-greentittle: #b3ed18;
  --faq-questions-color: #444;
  --faq-puestion-hover: #a6ce3a;
  // offer-page-color
  --center-text-border: #e2e6e8;
  --offer-page-p: #565656;
  --about-hero: #ff2526;
  --about-black: #535353;
  --about-bg-color: #c8c8c8;
  --button-color: #5b5b5b;
  --bg-affilateMarketing: #e6e6e6;
  --black: #000000;
  --color-100k: #eaff00;
  --color-green: #83b94d;
}
