<div class="w-100">

    <div class="container-fluid d-flex justify-content-between align-items-center">
        
        <div class="info-img w-50">
            <img src="../../../assets/hand-4.png" alt="">
        </div>
        <div class="info-content w-100">
            <div class="title">
                THE EVOLVING <span>DIGITAL <br> MARKETING</span> LANDSCAPE
            </div>
            <div class="description">
                has become the cradle of a multitude of avenues for entrepreneurial innovation. And of late, affiliate marketing has come out as one such lucrative innovation.
            </div>
        </div>
        
    </div>
    
</div>

<div class="container d-flex justify-content-between">
    <div class="contect-one ">Affiliate marketing is a well-known strategy to drive sales and create a substantial online income. Incredibly valuable to brands and affiliate marketers, and the marketing tactic now is at the helm of many successful campaigns and plays an instrumental role</div>
    <div class="contect-two ">in deriving desired results. Put simply, affiliate marketing is a marketing practice by which affiliate marketers can earn commission on every lead they generate for the products or services offered by another company.</div>
</div>