<div class="w-100">

    <div class="container-fluid d-flex justify-content-between align-items-center">
        
        <div class="info-img w-50">
            <img [src]="data.imgOne" alt="">
        </div>
        <div class="info-content w-100">
            <div class="title">
                {{data.titleOne}} <span>{{data.titleTwo}}<br>{{data.titleThree}}</span> {{data.titleFour}}
            </div>
            <div class="description">{{data.description}}
            </div>
        </div>
        
    </div>
    
</div>

<div class="container d-flex justify-content-between" >
    <div class="contect" *ngFor = "let item of data.chessWrapperContent">{{item.content}}</div>
    
</div>