.main-container{
  background-color:var(--contact-primary);
  // height: 1000px;
  height: 100vh;
  width: 100%;
}
.contact{
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  // margin-right: 30rem;
  // padding-top: 5rem;
  padding: 4% 30% 0 0;
}
.containerr{
  width: 70%;
  margin: 0 auto;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left{
  width: 50%;

}
.right{
  width: 50%;


}
input, select{
  width: 100%;
  background-color:var(--contact-primary);
  color: white;
  font-size: 3rem;
  border: none;
  // padding: 1.2rem 0.4rem 3rem;
  padding: 1.2% 0.5% 4%;
  border-bottom: 2px solid black;
  outline: none;
}
::placeholder {
  color:var(--chess-secondary);
}




.title{
  color: var(--chess-secondary);
  font-size: 6rem;
  // margin: 8px 0px 22px;
  margin: 0.8% 0% 2%;
  font-weight: bold;
}
.color-black{
  font-size: 2rem;
  font-weight: bold;
  color:var(--header-primary);
  letter-spacing: 1px;
}
.about-info{
  margin: 5px 0 2rem;
  color: var(--chess-secondary);
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 3rem;
}
.send{
  margin: 5rem 0 0;
  a{
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    padding: 1.2rem 2.4rem;
    background-color: #000;
    color: var(--chess-secondary);
  }
  a:hover{
    background-color:var(--contact-primary);
    border: 2px solid black;
  }
}

@media screen and (max-width:1000px){
  .main-container{
    width: 100%;
    height: auto;

  }
  .containerr{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 100px;
  }
  .left{
    width: 95%;
    margin: 0 auto;
  }
  .right{
    width: 95%;
    margin: 0 auto;
  }
  .contact{
    // padding-top: 12rem;
    padding-top: 12%;
  }
  .send{
    margin-bottom: 3rem;
  }
  .title{
    font-size: 5rem;
  }
}
@media screen and (max-width:500px){
  .contact{
    text-align: left;
    padding: 10rem 0 0 3rem;
    font-size: 2.5rem;
  }

  .containerr{
    padding-top: 30px;
  }

  .title{
    font-size: 3rem;
  }
  .color-black{
    font-size: 1.6rem;


  }
  .about-info{
    font-size: 1.6rem;
  }
  input, select{
    font-size: 2rem;
    padding: 0.8rem 0.3rem 2rem;
  }
  .send{
    margin: 3rem 0 0;
    padding-bottom: 2rem;

    a{
      text-decoration: none;
      font-size: 2rem;
      font-weight: bold;
      padding: 0.8rem 1.4rem;
    }
  }
}
