<div class="main-container">
  <div class="contact">{{data.contact}}</div>
  <div class="containerr">
    <div class="left">
      <div class="title">{{data.title}}
      </div>
      <div class="color-black">{{data.address}}</div>
      <div class="about-info">{{data.aboutInfo}}<br>
        {{data.aboutInfoTwo}}<br>
        {{data.aboutInfoThree}}<br> {{data.aboutInfoFour}}</div>
        <div class="color-black">
          {{data.ragisterOffice}}
        </div>
        <div class="about-info">{{data.aboutInfoFive}}<br>
          {{data.aboutInfoSix}}<br>
          {{data.aboutInfoSeven}}</div>
          <div class="copyscape">
            <img [src]= data.copyscape alt="">
          </div>

    </div>
    <div class="right">
      <form action="/action_page.php">
    <select id="country" name="country" >

      <option *ngFor ="let item of data.aboutform" [value]=item.value >{{item.name}}</option>
      <!-- <option value="canada">Advertiser Opportunity</option>
      <option value="usa">Publisher Opportunity</option>
      <option value="usa">General Opportunity</option>
      <option value="usa">Career Opportunity</option>
      <option value="usa">Other </option> -->
    </select>

      <input type="text" id="fname" name="firstname" placeholder="Your Name">
      <input type="text" id="fname" name="firstname" placeholder="Email Address">
      <input type="text" id="fname" name="firstname" placeholder="Contact Number">
      <input type="text" id="fname" name="firstname" placeholder="Website URL">
      <input type="text" id="fname" name="firstname" placeholder="Enter Message">

    <div class="send">
      <a href="">{{data.btn}}</a>
    </div>
      </form>




    </div>
  </div>

</div>

