<app-header [isColorChanged]='true'>
    <div class="main">
        <div class="faq-hero-section-wrapper">
            <div class="container">
                <div class="row">
                    <span>{{data.pagename}}</span>
                    <h1>{{data.tittle1}}
                        <br>
                       {{data.tittle2}}
                    </h1>
                    <span class="green-tittle">
                        {{data.greentittle1}}
                        <br>
                        {{data.greentittle2}}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="about-vcommission">
        <div class="container">
            <div class="description">
                <h1>
                    {{data.description}}
                </h1>
            </div>
            <div class="question">
                <div class="question-1 d-flex justify-content-between">
                    <h3>{{data. question1tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-2 d-flex justify-content-between">
                    <h3>{{data.question2tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-3 d-flex justify-content-between">
                    <h3> {{data.question3tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-4 d-flex justify-content-between">
                    <h3>{{data. question4tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-5 d-flex justify-content-between">
                    <h3>{{data. question5tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-6 d-flex justify-content-between">
                    <h3>{{data. question6tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-7 d-flex justify-content-between">
                    <h3>{{data. question7tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
                <div class="question-8 d-flex justify-content-between">
                    <h3>{{data. question8tittle}}</h3>
                    <img [src]="data.questionimg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="faq-img">
        <img [src]="data.faqimg" alt="">
    </div>
    <div class="end-footer">
        <div class="pagination">
            <a href="">{{data.pagination}}</a>
        </div>
        <div class="copyscape">
            <img src=" data.copyscapeimg" alt="">
        </div>
    </div>
</app-header>