<app-header [isColorChanged]='true'>
    <div class="main">
        <div class="faq-hero-section-wrapper">
            <div class="container">
                <div class="row">
                    <span>FAQ</span>
                    <h1>TO KNOW
                        <br>
                        BEFORE YOU GET
                    </h1>
                    <span class="green-tittle">
                        ASSOCIATED
                        <br>
                        WITH US
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="about-vcommission">
        <div class="container">
            <div class="description">
                <h1>Here are some questions we often get asked. If you have a question of your own please email us.
                </h1>
            </div>
            <div class="question">
                <div class="question-1">
                    <h3>What is vcommission</h3>
                </div>
            </div>
        </div>
    </div>
</app-header>