<div class="main-container"  [ngStyle]="{'backgroundImage':'url(' +  aboutData.bgImage  + ')'}">

  <app-header class="change-color" [isColorChanged]='true' [isPositionRelative]='false' [isPositionAbsolute]='false'
    [isHeightFullVH]='false'[isHamburgerColorWhite]='true'></app-header>
  <div class="hand-img">
    <img [src]=aboutData.img alt="">
  </div>
  <div class="container">
    <div class="pre-title" [ngClass]="{'publisherWhite':aboutData.isColorWhite, 'colorBlack':aboutData.isColorBlack}">{{aboutData.pretitle}}</div>
    <div class="title" [ngClass]="{'colorAboutBlack':aboutData.isColorAboutBlack}">
      <div class="w">{{aboutData.W}}</div>{{aboutData.wUnder}}<br>{{aboutData.WLast}}
    </div>
    <div class="publisherMoreThan" [ngClass]="{'colorGreen':aboutData.isColorGreen}">{{aboutData.publishermorethan}} <span class="color-primary">{{aboutData.aboutUs}}</span></div>
     <div class="text100k" [ngClass]="{'primaryColor':aboutData.isPrimaryColor}">{{aboutData.text100k}} <span [ngStyle]="{'color': 'white'}">{{aboutData.textOf}}</span></div>
    <div class="publisherMoreThan">{{aboutData.publisher}}</div>
    <div class="publisherMoreThan">{{aboutData.worldwide}}</div>
    <div class="description">{{aboutData.description}}</div>
  </div>
</div>