<router-outlet></router-outlet>

<!-- <app-header></app-header>
<app-hero></app-hero>
<app-our-vision></app-our-vision>
<app-chess></app-chess>
<app-advertisers></app-advertisers>
<app-performance></app-performance>
<app-team></app-team>
<app-contact></app-contact> -->

<!-- <app-about-hero></app-about-hero>
<app-max-quality-performance></app-max-quality-performance>
<app-above-and-beyond></app-above-and-beyond>
<app-horse-img></app-horse-img>
<app-affilate-marketing></app-affilate-marketing>
<app-structure-img></app-structure-img>
<app-end-img></app-end-img> -->

<!-- ourVision -->
<!-- <app-our-vision-hero></app-our-vision-hero> -->

