<app-header [isColorChanged]='true'>
    <div class="main">
        <div class="container hero-section">
            <div class="col-md-12">

                <div class="gift-img">
                    <img [src]="Data.image">
                </div>
                <div class="headings">
                    <span>{{Data.tittle}}</span>
                    <h1>{{Data.tittle2}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="main_offer_row">
        <div class="col-md-4" *ngFor= "let item of Data.offerDataLoop">
            <div class="offer_col">
                <h2>{{item.CardHeading}}</h2>
                <div class="offer_img">
                    <img [src]="item.CardImage">
                </div>
                <div class="offer_details">
                    <ul>
                        <li> 
                            <p>{{item.CardParagraph}}</p>
                            <p>
                                <strong>{{item.CardStrong}}</strong>
                            </p>
                        </li>
                        <li>
                            <p>{{item.CardParagraph2}}</p>
                            <p>
                                <strong>{{item.CardStrong2}}</strong>
                            </p>
                        </li>
                        <li>
                        <p>{{item.CardParagraph3}}</p>
                            <p>
                                <strong>{{item.CardStrong3}}</strong>
                            </p>
                        </li>
                    </ul>
                    <div class="joinbutton">

                        <a href="" target="_blank" class="btn  join">{{item.CardButton}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container width">

        <div class="col-md-12">
            <div class="center-text">
                <h2>{{Data.CenterTextTittle}}</h2>
                <p>
                    "{{Data.CenterTextQuotes}}"
                    <strong>{{Data.CenterTextStrong}}</strong>
                    "{{Data.centerTextDescription}}"
                </p>
                <div class="center-btn">
                    <button>{{Data.CenterBtn}}</button>
                </div>
            </div>
        </div>
    </div>
</app-header>