

<div class="container">
  <div class="heading">If you are looking to partner with us
  </div>
  <div class="info">
    <div class="infoOne">

      <div class="title">AFFILATE</div>
      <div class="description">The reason to partner with us simply lies in our approach. We have got a knack for uncomplicating complicated things! We have an extensive bank of 100K+ trusted affiliates across various verticals on board who.
      </div>
      <div class="btn">
        <app-log-in></app-log-in>
        <app-sign-up></app-sign-up>
      </div>
    </div>
    <div class="infoTwo">

      <div class="title">ADVERTISER
      </div>
      <div class="description">Do you have a product or service to promote? We not only make an impression but also lead the way forward for you! We understand that your business is different and very you.

      </div>
      <div class="btn d-flex">
        <app-log-in></app-log-in>
        <app-sign-up></app-sign-up>
      </div>
    </div>

  </div>
</div>
