.containerr{
  background-image: url("../../assets/bg2.jpg");
  // height: 1000px;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  font-size: 2rem;
  color:var(--chess-secondary);

}
.about{
  width: 60%;
  margin: 0 auto;
  // padding-top: 320px;
  padding-top: 15%;
}
.pre-title{
  color: var(--primary);
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}
.title{
  color:var(--chess-secondary);
  font-size: 4.8rem;
  // margin: 8px 0px 5px;
  margin: 1% 0% 1.3%;
  line-height: 1;
font-weight: bold;

}
.description
{
  color: var(--tersary);
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 3.5rem;
  letter-spacing: 2px;
}
span
{
  color: var(--chess-secondary);
  letter-spacing: 2px;
}
@media screen and (max-width:1024px){
 .containerr{
   width: 100%;
   height: auto;
 }
 .about{
   width: 80%;
   margin: 0 auto;
   padding-top: 18%;
   padding-bottom: 8%;
 }
 .title{
   padding-top: 2rem;
 }
 .description{
   width:50%;
   padding-top: 2rem;

}
}
@media screen and (max-width:500px){
.containerr{
  width: 100%;
  height: auto;


}
.about{
  width: 90%;
  margin: 0 auto;
  padding-top: 10%;

}
.pre-title{
  font-size: 1rem;
}
.title{
  font-size: 2.5rem;
  // margin: 12px 0px 15px;  
  margin: 0.1% 0px 0.1%;
}
.description{
  font-size: 1.4rem;
  line-height: 2.4rem;
  width: 80%;
}
span{
  letter-spacing: 1px;
}
}
