<div class="main">
    <div class="faq-hero-section-wrapper">
        <div class="container">
            <div class="row">
                <span>{{data.pagename}}</span>
                <h1>{{data.tittle1}}
                    <br>
                    {{data.tittle2}}
                </h1>
                <span class="green-tittle">
                    {{data.greentittle1}}
                    <br>
                    {{data.greentittle2}}
                </span>
            </div>
        </div>
    </div>
</div>