#texts h1 {
  color: var(--faq-aboutvcommission);
  font-size: 25px;
  font-weight: bold;
  line-height: 1.1;
}
#texts p {
  font-size: 22px;
  color: var(--faq-aboutvcommission);
  letter-spacing: 1px;
  margin-bottom: 7%;
}
.qualified-img img {
  max-width: 100%;
  margin-top: 12%;
}
.football-img {
  animation: mover 1s infinite alternate;
  position: relative;
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
}
.football-img img {
  position: absolute;
  top: 32px;
  left: 43px;
}
.end-text p {
  font-size: 22px;
  color: var(--faq-aboutvcommission);
  text-align: center;
  margin-top: 3%;
}
