<div class="qualified">
    <div class="container">
        <div class="row">
            <div class="wrapper d-flex">

                <div class="col-md-7 ">
                    <div class="football-img">
                        <img src="assets/ball.png" alt="">
                    </div>
                    <div class="qualified-img">
                        <img src="assets/player2.png" alt="">
                    </div>
                </div>
                <div class="col-md-5" id="texts">
                    <div *ngFor="let text of data.texts" class="qualified-text">
                        <h1>{{text.heading}}</h1>
                        <p>{{text.paragraph}}</p>
                    </div>
                </div>
            </div>
            <div class="end-text">
                <p>With vCommission's wide affiliate network, get guaranteed & verified leads for potential clients.</p>
            </div>
        </div>
    </div>
</div>