<div class="main">
    <div class="ecommercehero-section-wraapper">
        <div class="container">
            <div class="row">
                <div class="ecommerce-hero-section d-flex">
                    <div class="text-box">
                        <h3>ECOMMERCE MARKETING</h3>
                        <h1>Pro E-commerce</h1>
                        <h1 id="green-text">Marketing.</h1>
                        <h2>for your products & services</h2>
                        <p>While you work on revolutionizing the market with your product and services, we back you with
                            the
                            most successful e-commerce marketing campaigns. To do so, we work on the most effective
                            sales
                            and
                            marketing techniques, that helps you with increased customer attention.</p>
                    </div>
                    <div class="img-box">
                        <img src="assets/ecommerce_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>