/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './global-scss/color';

html{
  font-size: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
}

.previous-next{
  margin: 150px 0 250px;
  }

  .previous-next a{
   font-size: 100px;
   text-decoration: none;
   font-weight: bold;
   color: var(--primary);
   display: block;
   text-align: center;
  }
@media screen and (max-width:700px){
  .previous-next{
    margin: 50px 0 50px;
    }
  .previous-next a{
    font-size: 50px;
  }
 

}