.container{
  // padding: 150px 0 100px;
  padding: 7% 0% 6%;
}
.info{
  display: flex;
}

.heading{
 font-size: 71px;
 font-weight: bold;
 color: var(--about-black);
 line-height: 1.2;
 margin: 0 0 2%;
}
.infoOne, .infoTwo{
  font-size: 21px;
  width:47%;
  color: var(--about-black);
  line-height: 36px;

}
@media screen and (max-width:1024px){
.info{
  flex-direction: column;
}
.infoOne, .infoTwo{
  width: 90%;
  margin: 0 auto;
}
.heading{
  padding-left: 5%;
}
.container{
  // padding: 70px 0 50px;
}
}
@media screen and (max-width:768px){
  .heading{
    font-size: 45px;
    padding-left: 5%;
  }
}
@media screen and (max-width:475px){
  .infoOne, .infoTwo{
    width: 90%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
  }
  .heading{
    font-size: 40px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3%;
    padding-left: 0%;
  }
  .container{
    padding: 3% 0%;
  }
}
@media screen and (max-width:425px){
  .heading{
    font-size: 25px;
  }
  .infoOne, .infoTwo{
    
    font-size: 14px;
    
  }
}