.container{
    // margin: 50px auto;
    margin: 3% auto;
}
.container p{
    font-size: 20px;
    color: var(--about-black);
    // margin: 25px 0 0;
    margin: 2% 0 0;
    text-align: center;
}
.companyList{
    // margin: 50px 0 70px;
    margin: 4% 0 5.3%;

    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.partners{
    // margin: 10px 20px 20px 0;
    margin: .8% 1.6% 1.6% 0;
    box-shadow: 0 0 18px rgb(0 0 0 / 22%);

}

@media screen and (max-width:400px){
.container p{
    font-size: 16px;
}
}
@media screen and (max-width:800px){
    .companyList{
        width: 90%;
        margin: 0 auto;
    }
}